 <app-navbar></app-navbar>
 <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

	<div *ngIf="emptyProductHide" class="container">
		<div  class="card">
			<div class="container-fliud">
				<div *ngFor="let product of productDataStore" class="wrapper row">
					<div   class="preview col-md-6">
						
						<div class="preview-pic tab-content">
						  <div class="tab-pane active" id="pic-1"><img src="{{productImg}}" /></div>
						  <div class="tab-pane" id="pic-2"><img src="http://placekitten.com/400/252" /></div>
						  <div class="tab-pane" id="pic-3"><img src="http://placekitten.com/400/252" /></div>
						  <div class="tab-pane" id="pic-4"><img src="http://placekitten.com/400/252" /></div>
						  <div class="tab-pane" id="pic-5"><img src="http://placekitten.com/400/252" /></div>
						</div>
						<ul class="preview-thumbnail nav nav-tabs">
						  <li class="active"><a data-target="#pic-1" data-toggle="tab"><img (click)="imageDisplay(product.productImage.img1)" src="{{product.productImage.img1}}"/></a></li>
						  <li><a data-target="#pic-2" data-toggle="tab"><img  (click)="imageDisplay(product.productImage.img2)" src="{{product.productImage.img2}}" /></a></li>
						  <li><a data-target="#pic-2" data-toggle="tab"><img  (click)="imageDisplay(product.productImage.img3)" src="{{product.productImage.img3}}" /></a></li>
						  <li><a data-target="#pic-3" data-toggle="tab"><img (click)="imageDisplay(product.productImage.img4)" src="{{product.productImage.img4}}" /></a></li>
						 
			 
						</ul>
						
					</div>
					<div class="details col-md-6">
						<h3 class="product-title">{{product.productName}}</h3>
						<div class="rating">
							<div class="stars">
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
							</div>
							<span class="review-no">41 reviews</span>
						</div>
						<!-- <p class="product-description">Suspendisse quos? Tempus cras iure temporibus? Eu laudantium cubilia sem sem! Repudiandae et! Massa senectus enim minim sociosqu delectus posuere.</p> -->
						<!-- <h4 class="price">current price: <span>{{ discountProductPrize|currency:'INR'}}</span></h4> -->
						<span style="color: green; font-weight: 600;">Special price</span>
                       <h2 class="price"><span >{{discountProductPrize| currency:'INR'}}</span>&nbsp; <span><del style="color: gray; font-size: 15px;">{{orignalPrice|currency:'INR'}}</del></span>&nbsp; <span style="color: green; font-size: 20px;">{{product.discount}}% Off</span></h2> 
						
						<p class="vote"><strong>91%</strong> of buyers enjoyed this product! <strong>(87 votes)</strong></p>
						<span class="sizes" style="text-transform: capitalize;"> Select Weight:</span>
							<div style="position: relative; bottom: 34px; left: 130px;" >
							<input type="radio" name="Weight" style="margin-left: 0px;" checked (click)="selectWeight(product.productCost, product.productCost-(( product.productCost*product.discount)/100),1 ,'500gm')"  class="size" data-toggle="tooltip" title="small"><label style="margin-right: 5px;">{{product.productWeight.first}}</label><br>
							<input type="radio" name="Weight"  (click)="selectWeight(product.productCost,product.productCost-((product.productCost*product.discount)/100),2,'1kg')" class="size" data-toggle="tooltip" title="small"><label >{{product.productWeight.second}}</label> <br>
							<input type="radio" name="Weight"  (click)="selectWeight(product.productCost,product.productCost-((product.productCost*product.discount)/100),4,'2kg')" class="size" data-toggle="tooltip" title="small"><label >{{product.productWeight.third}} </label>
 
							</div>
					 
						<div class="action mb-4">
							<button class="add-to-cart btn btn-default my-4 mx-4" type="button">add to cart</button>
							 
							<button style="width: 150px;" class="add-to-cart btn btn-default mx-4  " type="button" (click)="buyProduct(product)"> Buy <i class="bi bi-bag-dash-fill"></i></button>
						</div>
						<div class="action">
						 
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

 <!-- this is login popup toggle -->
<div *ngIf="loginToggle" class="popup">
    <div class="modal-action__container modal-action--delete">  
        <div class="modal-action__content">
          <div class="modal-action__body">
            Please Login Your Account  

          </div>
          <div class="modal-action__footer">
            <button (click)="cancleButton()" type="button"class="btn btn-cancel button" ng-click="deletePanelCancelled()"> Cancel</button>
            <button (click)="loginButton('product-detail')" type="button"class="btn btn-delete button" ng-click="deletePanelConfirmed()"> Login
            </button>
          </div>
        <div>
      </div>
</div>