*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}



// main container 
.container{
    max-width: 1300px;
    margin: auto;
    padding: 0px 25px;
 
}
 
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
   
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
 a{
    text-decoration: none;
    color: #555;
}
p{
    color: #555;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;

}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.btn{
    display: inline-block;
    background: #ff523b;
    color:#fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition:  1s;
}
.btn:hover{
    background:#563434 ;
}
.header{
    background: radial-gradient(#fff,#ffd6d6);
    // margin-top: -70px;
}
.header .row{
margin-top: 70p;
}

/* categories style */
.categories{
    margin: 70px ;

}
.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.col-3 img{
    width: 100%;
}
.samall-container{
    max-width: 1180px ;
    margin: auto;
    padding: 0px 25px;
}
/*<!----- feature proudct --------->*/
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition:  0.7s;
}
.col-4 img{
    width: 100%;
}
.title{
    margin: 0 auto 80px;
    text-align: center;
    position: relative;
    line-height: 60px;
    color: #555;
    
}
.title::after{
    content: "";
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
h4{
    color: #555;
    font-weight: normal;
}
.col-4{
    font-size:14px ;
}
.rating .fa{
    color:#ff523b
}
.col-4:hover{
 transform: translateY(-5px);
}
/*--------offer-------*/
.offer{
    background: radial-gradient(#fff,#ffd6d6);
    margin-top: 80px;
    padding: 30px 0px;
}
.col-2 .offer-img{
    padding: 50px;
}
small{
    color: #555;
}
/*--------------testimonial-----------*/
.testimonial{
    padding-top:100px ;
}
.testimonial .col-3{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 220px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: 0.5s;
}
.testimonial .col-3 img{
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}
.testimonial .col-3:hover{
    transform:translateX(-10px)
}
.fa.fa-quote-left{
    font-size: 34px;
    color: #ff523b;
}
.col-3 p{
    font-size: 12px;
    margin: 12px 0;
    color: #777;
}
.fa-quote-left .col-3 h3{
    font-weight: 600;
    color: #555;
    font-size: 16px;
}
/*-------barands--------------*/
.barands{
    margin: 100px auto;
}
.col-5 {
    width: 160px;
}
.col-5 img{
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
    transition: .5s;
}
.col-5 img:hover{
    filter: grayscale(0%);
}
 
/*----------menu-icon------*/
.menu-icon{
    width: 28px ;
    margin-left: 20px;
    display: none;
}
/*-------media query for menu--------*/
@media only screen and (max-width:800px){
    nav ul{
        position: absolute;
        top: 70px;
        left: 0px;
        background: #333;
        width: 100%;
         /*over flow nav toogle takhon add style-*/
    overflow: hidden;
    transition: max-height 0.9s;

    }
    nav ul li{
        display: block;
         text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;

    }
    nav ul li a{
        color: #fff;
        font-weight: bold;
       
    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }
}
/*----------media query for less then 600 screen size--------*/
@media only screen and (max-width:600px){
    .row{
        text-align: center;
    }
    .col-2,.col-3,.col-4{
        flex-basis: 100%;
    }
}



 
// addd button 
.add-to-cart {
    --color: #fff;
    --icon: var(--color);
    --cart: #fff;
    --dots: #fff;
    --background: #275EFE;
    --shadow: #{rgba(#00093D, .16)};
    cursor: pointer;
    position: relative;
    outline: none;
    border: none;
    appearance: none;
    -webkit-tap-highlight-color: transparent;
    font-size: 16px;
    border-radius: 22px;
    padding: 12px 32px;
    font-weight: 500;
    line-height: 20px;
    transform: scale(var(--s, .97));
    box-shadow: 0 var(--s-y, 4px) var(--s-b, 12px) var(--shadow);
    color: var(--color);
    background: var(--background);
    transition: transform .3s, box-shadow .3s;
    .default {
        padding-left: 16px;
        position: relative;
        opacity: var(--o, 1);
        transform: scale(var(--s, 1));
        transition: transform .3s, opacity .3s;
        transition-delay: var(--d, .3s);
        &:before,
        &:after {
            content: '';
            width: 2px;
            height: 12px;
            left: 0;
            top: 4px;
            border-radius: 1px;
            background: var(--icon);
            position: absolute;
            transform: rotate(var(--r, 0deg));
            transition: transform .25s;
        }
        &:after {
            --r: 90deg;
        }
    }
    .success {
        opacity: var(--o, 0);
        transform: translate(-50%, var(--y, 12px));
        position: absolute;
        top: 12px;
        left: 50%;
        transition: opacity .3s, transform .3s;
        transition-delay: var(--d, 0s);
    }
    .dots {
        width: 4px;
        height: 4px;
        top: 20px;
        left: 50%;
        margin-left: -7px;
        border-radius: 2px;
        position: absolute;
        transform-origin: 10px 50%;
        background: var(--dots);
        box-shadow: 5px 0 0 var(--dots), 10px 0 0 var(--dots);
        opacity: var(--o, 0);
        transform: scale(var(--s, .4));
        transition: opacity .3s, transform .3s;
        transition-delay: var(--d, 0s);
    }
    .cart {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        border-radius: inherit;
        overflow: hidden;
        mask-image: -webkit-radial-gradient(white, black);
        &:before {
            content: '';
            position: absolute;
            width: 20px;
            height: 16px;
            background: var(--background);
            top: 17px;
            right: 100%;
            z-index: 1;
            margin-right: -20px;
            transform: translateX(-18px) rotate(-16deg);
        }
        & > div {
            top: 13px;
            right: 100%;
            transform: translateX(-18px) rotate(-16deg);
            position: absolute;
            z-index: 2;
            transform-origin: 1px 21px;
            &:before,
            &:after {
                content: '';
                position: absolute;
                top: var(--t, 4px);
                left: var(--l, 0);
                height: 2px;
                width: var(--w, 18px);
                background: var(--cart);
                border-radius: 1px;
            }
            &:after {
                --w: 16px;
                --t: 14px;
                --l: 1px;
            }
            & > div {
                width: 2px;
                height: var(--h, 15px);
                border-radius: 1px;
                transform: rotate(var(--r, -8deg));
                background: var(--cart);
                position: relative;
                &:before,
                &:after {
                    content: '';
                    position: absolute;
                    background: inherit;
                }
                &:after {
                    width: 4px;
                    height: 4px;
                    border-radius: 2px;
                    bottom: var(--b, -6px);
                    left: var(--l, 0);
                }
                &:first-child {
                    &:before {
                        border-radius: inherit;
                        top: 0;
                        right: 0;
                        height: 2px;
                        width: 6px;
                        transform-origin: 5px 1px;
                        transform: rotate(16deg);
                    }
                }
                &:last-child {
                    --h: 12px;
                    --r: 8deg;
                    position: absolute;
                    left: 16px;
                    bottom: -1px;
                    &:after {
                        --l: -2px;
                        --b: -5px;
                    }
                }
            }
        }
    }
    &.added {
        .default {
            --o: 0;
            --s: .8;
            --d: 0s;
            &:before {
                --r: -180deg;
            }
            &:after {
                --r: -90deg;
            }
        }
        .dots {
            --o: 1;
            --s: 1;
            --d: .3s;
            animation: dots 2s linear forwards;
        }
        .success {
            --o: 1;
            --y: 0;
            --d: 1.8s;
        }
        .cart {
            &:before,
            & > div {
                animation: cart 2s forwards;
            }
        }
    }
    &:not(.added) {
        &:hover {
            --s: 1;
            --s-y: 8px;
            --s-b: 20px;
        }
        &:active {
            --s: .94;
            --s-y: 2px;
            --s-b: 6px;
        }
    }
}

@keyframes cart {
    41%,
    49%,
    57%,
    60% {
        transform: translateX(72px) rotate(0deg);
    }
    40%,
    47%,
    54% {
        transform: translateX(72px) rotate(0deg) translateY(1px);
    }
    100% {
        transform: translateX(180px) rotate(-16deg);
    }
}

@keyframes dots {
    5% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(-20px) rotate(-32deg);
        box-shadow: 5px 0 0 var(--dots), 10px 0 0 var(--dots);
    }
    31% {
        box-shadow: 5px -4px 0 var(--dots), 10px -8px 0 var(--dots);
    }
    32%,
    50% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }
    45%,
    100% {
        box-shadow: 5px 0 0 var(--dots), 10px 0 0 var(--dots);
    }
    51%,
    100% {
        opacity: 0;
    }
}

html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

* {
    box-sizing: inherit;
    &:before,
    &:after {
        box-sizing: inherit;
    }
}

 /* Center & dribbble */
 

 .popup {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background: url('http://lorempizza.com/1500/1000/') no-repeat center center fixed;
    width: 100%;
    height: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  /* -------------------------------- */
  
  
  
  
  // Delete confirmation panel - Dashboard
  .modal-action {
    &__container {
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      z-index: 10000;
      background: rgba(0,0,0,0.8);
    }
  
    &__content {
      width: 300px;
      margin: 0 auto;
      position: relative;
      overflow: hidden;
      top: 50%;
      transform: translateY(-50%);
      background: #fff;
      border-radius: 4px;
      font-size: 16px;
      color: rgba(0,0,0,0.8);
    }
  
    &__body {
      position: relative;
      text-align: center;
      line-height: 1.5;
      padding: 28px 40px;
    }
  
    &__footer {
      width: 100%;
      margin-top: 0;
      padding: 0;
      text-align: center;
      border-top: none;
  
      .button {
        display: block;
        float: left;
        width: 50%;
        text-align: center;
        padding: 8px 0;
        margin: 0;
        border-radius: 0;
        font-weight: bold;
        transition: all 0.1s ease-out;
      }
        .btn-cancel {
          background: #EFEFEF;
          color: rgba(0,0,0,0.4);
          &:hover {
            color: rgba(0,0,0,0.8);
          }
        }
        .btn-delete {
          background:rgba(1, 174, 255, 0.982);
          color: #000000;
          &:hover {
            background: #00fffb;
          }
        }
      
    }
  
  }

//   drop down process
 
 
 
.cont {
    margin:10px auto;
    // margin-left:20px auto;
    // width: 390px;
    text-align: right;
  }
  
  .cont > .dropdown {
    margin:0px -12px;
    
    vertical-align: top;
  }
  
  .dropdown {
    display: inline-block;
    position: relative;
    overflow: hidden;
    height: 28px;
    width: 150px;
    background: #f2f2f2;
    border: 1px solid;
    border-color: white #f7f7f7 whitesmoke;
    border-radius: 3px;
    background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
    background-image: -moz-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
    background-image: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
    background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.06));
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
  }
  
  .dropdown:before, .dropdown:after {
    content: '';
    position: absolute;
    z-index: 0;
    top: 9px;
    right: 10px;
    width: 0;
    height: 0;
    border: 4px dashed;
    border-color: #888888 transparent;
    pointer-events: none;
  }
  
  .dropdown:before {
    border-bottom-style: solid;
    border-top: none;
  }
  
  .dropdown:after {
    margin-top: 7px;
    border-top-style: solid;
    border-bottom: none;
  }
  
  .dropdown-select {
    position: relative;
    width: 130%;
    margin: 0;
    padding: 6px 8px 6px 10px;
    height: 28px;
    line-height: 14px;
    font-size: 12px;
    color: #62717a;
    text-shadow: 0 1px white;
    background: #f2f2f2; /* Fallback for IE 8 */
    background: rgba(0, 0, 0, 0) !important; /* "transparent" doesn't work with Opera */
    border: 0;
    border-radius: 0;
    appearance: none;
  }
  
  .dropdown-select:focus {
    z-index: 0;
    width: 100%;
    color: #394349;
    outline: 2px solid #49aff2;
    outline: 2px solid -webkit-focus-ring-color;
    outline-offset: -2px;
  }
  
  .dropdown-select > option {
    margin: 3px;
    padding: 6px 8px;
    text-shadow: none;
    background: #f2f2f2;
    border-radius: 3px;
    cursor: pointer;
  }
  
  /* Fix for IE 8 putting the arrows behind the select element. */
  
  .lt-ie9 .dropdown {
    z-index: 1;
  }
  
  .lt-ie9 .dropdown-select {
    z-index: -1;
  }
  
  .lt-ie9 .dropdown-select:focus {
    z-index: 3;
  }
  
  /* Dirty fix for Firefox adding padding where it shouldn't. */
  
  @-moz-document url-prefix() {
    .dropdown-select {
      padding-left: 6px;
    }
  }
  
  .dropdown-dark {
    background: #444;
    border-color: #111111 #0a0a0a black;
    background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.4));
    background-image: -moz-linear-gradient(top, transparent, rgba(0, 0, 0, 0.4));
    background-image: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.4));
    background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.4));
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), 0 1px 1px rgba(0, 0, 0, 0.2);
  }
  
  .dropdown-dark:before {
    border-bottom-color: #aaa;
  }
  
  .dropdown-dark:after {
    border-top-color: #aaa;
  }
  
  .dropdown-dark .dropdown-select {
    color: #aaa;
    text-shadow: 0 1px black;
    background: #444;  /* Fallback for IE 8 */
  }
  
  .dropdown-dark .dropdown-select:focus {
    color: #ccc;
  }
  
  .dropdown-dark .dropdown-select > option {
    background: #444;
    text-shadow: 0 1px rgba(0, 0, 0, 0.4);
  }
  