<app-navbar (searchData)="getSearchData($event)"></app-navbar>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>RedStore | Ecommere website desing</title>
        
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,300;1,600&display=swap" rel="stylesheet"> 
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
  
        

<!----- feature proudct --------->



<div class="samall-container">
    <h2 class="title">Latest product </h2>
    <section class="cont">
       
        <div class="dropdown dropdown-dark">
          <select name="two" #two class="dropdown-select" (click)="getSearchData(two.value)">
            <option value="" >Flavours…</option>
            <option value="kakao">kakao</option>
            <option value="vanille">vanille</option>
            <option value="curry">curry</option>
            <option value="kernmehl">kernmehl</option>
          </select>
        </div>
      </section>

      
    <div class="row" >
        <div  class="col-4" *ngFor="let products of latestProduct |search:searchData">
            <img (click)="producDetails(products)"  src={{products.productImage.img1}} alt="">
            <h4>{{products.productName}}</h4>
            <div class="rating">
                <i class="fa fa-star" ></i>
                <i class="fa fa-star" ></i>
                <i class="fa fa-star" ></i>
                <i class="fa fa-star" ></i>
                <i class="fa fa-star-half-o" ></i>
                
            </div>
            <p><b>{{products.productCost|currency:'INR'}} </b>/ {{products.productWeight.first}}</p>
            <p>{{products.productFlavour}}</p>
             <p>
                <button  (click)="addToCart()" class="add-to-cart">
                    <div class="default">Add to cart</div>
                    <div  class="success">Added</div>
                    <div class="cart">
                        <div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                    <div class="dots"></div>
                </button>

                 </p>
        </div>

 
    </div>
        <h2 class="title">New product</h2>
        <div class="row">
            <div class="col-4">
                <img src="./images/product-5.jpg" alt="">
                <div class="rating">
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star-half-o" ></i>
    
                </div>
                <h4>Red Printed T-shirt</h4>
                <p>$40.00</p>
            </div>
    
    
            <div class="col-4">
                <img src="./images/product-6.jpg" alt="">
                <div class="rating">
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star-half-o" ></i>
    
                </div>
                <h4>Red Printed T-shirt</h4>
                <p>$50.00</p>
            </div>
    
            <div class="col-4">
                <img src="./images/product-7.jpg" alt="">
                <div class="rating">
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star-half-o" ></i>
    
                </div>
                <h4>Red Printed T-shirt</h4>
                <p>$55.00</p>
            </div>
    
    
            <div class="col-4">
                <img src="./images/product-8.jpg" alt="">
                <div class="rating">
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star-o" ></i>
    
                </div>
                <h4>Red Printed T-shirt</h4>
                <p>$60.00</p>
            </div>
            <div class="col-4">
            <img src="./images/product-1.jpg" alt="">
            <div class="rating">
                <i class="fa fa-star" ></i>
                <i class="fa fa-star" ></i>
                <i class="fa fa-star" ></i>
                <i class="fa fa-star" ></i>
                <i class="fa fa-star-half-o" ></i>

            </div>
            <h4>Red Printed T-shirt</h4>
            <p>$40.00</p>
        </div>


        <div class="col-4">
            <img src="./images/product-2.jpg" alt="">
            <div class="rating">
                <i class="fa fa-star" ></i>
                <i class="fa fa-star" ></i>
                <i class="fa fa-star" ></i>
                <i class="fa fa-star" ></i>
                <i class="fa fa-star-half-o" ></i>

            </div>
            <h4>Red Printed T-shirt</h4>
            <p>$50.00</p>
        </div>

        <div class="col-4">
            <img src="./images/product-3.jpg" alt="">
            <div class="rating">
                <i class="fa fa-star" ></i>
                <i class="fa fa-star" ></i>
                <i class="fa fa-star" ></i>
                <i class="fa fa-star" ></i>
                <i class="fa fa-star-half-o" ></i>

            </div>
            <h4>Red Printed T-shirt</h4>
            <p>$55.00</p>
        </div>


        <div class="col-4">
            <img src="./images/product-4.jpg" alt="">
            <div class="rating">
                <i class="fa fa-star" ></i>
                <i class="fa fa-star" ></i>
                <i class="fa fa-star" ></i>
                <i class="fa fa-star" ></i>
                <i class="fa fa-star-o" ></i>

            </div>
            <h4>Red Printed T-shirt</h4>
            <p>$60.00</p>
        </div>
    </div>
        <h2 class="title">Feature product</h2>
        <div class="row">
            <div class="col-4">
                <img src="./images/product-5.jpg" alt="">
                <div class="rating">
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star-half-o" ></i>
    
                </div>
                <h4>Red Printed T-shirt</h4>
                <p>$40.00</p>
            </div>
    
    
            <div class="col-4">
                <img src="./images/product-6.jpg" alt="">
                <div class="rating">
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star-half-o" ></i>
    
                </div>
                <h4>Red Printed T-shirt</h4>
                <p>$50.00</p>
            </div>
    
            <div class="col-4">
                <img src="./images/product-7.jpg" alt="">
                <div class="rating">
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star-half-o" ></i>
    
                </div>
                <h4>Red Printed T-shirt</h4>
                <p>$55.00</p>
            </div>
    
    
            <div class="col-4">
                <img src="./images/product-8.jpg" alt="">
                <div class="rating">
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star-o" ></i>
    
                </div>
                <h4>Red Printed T-shirt</h4>
                <p>$60.00</p>
            </div>
            <div class="col-4">
                <img src="./images/product-9.jpg" alt="">
                <div class="rating">
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star-o" ></i>
    
                </div>
                <h4>Red Printed T-shirt</h4>
                <p>$60.00</p>
            </div>
            <div class="col-4">
                <img src="./images/product-10.jpg" alt="">
                <div class="rating">
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star-o" ></i>
    
                </div>
                <h4>Red Printed T-shirt</h4>
                <p>$60.00</p>
            </div>
            <div class="col-4">
                <img src="./images/product-11.jpg" alt="">
                <div class="rating">
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star-o" ></i>
    
                </div>
                <h4>Red Printed T-shirt</h4>
                <p>$60.00</p>
            </div>
            <div class="col-4">
                <img src="./images/product-12.jpg" alt="">
                <div class="rating">
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star-o" ></i>
    
                </div>
                <h4>Red Printed T-shirt</h4>
                <p>$60.00</p>
            </div>
         </div>
    </div>
 
<!----------Offer--------->
<div class="offer">
    <div class="samall-container">
        <div class="row">
            <div class="col-2">
                <img src="./images/exclusive.png" class="offer-img">
            </div>
            <div class="col-2">
                <p>Exclsively Available on RedStore</p>
                <h1>Smart Band 4</h1>
                <small>
                    The Mi smart Band 4 Festures a 39.9% larger (the Mi Band 3)
                    Amoled color full-touch
                </small>
                <a  class="btn">Buy Now &#8594;</a>
            </div>
        </div>
    </div>
</div>


<!--------------testimonial------------>
<div class="testimonial">
    <div class="samall-container">
        <div class="row">
            <div class="col-3">
                <i class="fa fa-quote-left" ></i>
                <p>Lorem Ipsum Is Simply dummy text of the printing and 
                    typesetting industry. Lorem Ipsum has been the 
                    industry's standar dummy text evenr
                </p>
                <div class="rating">
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star-o" ></i>
                </div>
                <img src="./images/user-1.png" alt="">
                <h3>Mobel Joe</h3>
            </div>
            <div class="col-3">
                <i class="fa fa-quote-left" ></i>
                <p>Lorem Ipsum Is Simply dummy text of the printing and 
                    typesetting industry. Lorem Ipsum has been the 
                    industry's standar dummy text evenr
                </p>
                <div class="rating">
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star-o" ></i>
                </div>
                <img src="./images/user-2.png" alt="">
                <h3>Mobel Joe</h3>
            </div>
            <div class="col-3">
                <i class="fa fa-quote-left" ></i>
                <p>Lorem Ipsum Is Simply dummy text of the printing and 
                    typesetting industry. Lorem Ipsum has been the 
                    industry's standar dummy text evenr
                </p>
                <div class="rating">
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star-o" ></i>
                </div>
                <img src="./images/user-3.png" alt="">
                <h3>Mobel Joe</h3>
            </div>
        </div>
    </div>
</div>

<!---------barands--------->
<div class="barands">
    <div class="samall-container">
        <div class="row">
            <div class="col-5">
                <img src="./images/logo-godrej.png" alt="">
            </div>
            <div class="col-5">
                <img src="./images/logo-oppo.png" alt="">
            </div>
            <div class="col-5">
                <img src="./images/logo-coca-cola.png" alt="">
            </div>
            <div class="col-5">
                <img src="./images/logo-paypal.png" alt="">
            </div>
            <div class="col-5">
                <img src="./images/logo-philips.png" alt="">
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>
 
<!----------Js for togle Menu-->


<!-- this is login popup toggle -->
<div *ngIf="loginToggle" class="popup">
    <div class="modal-action__container modal-action--delete">  
        <div class="modal-action__content">
          <div class="modal-action__body">
            Please Login Your Account  

          </div>
          <div class="modal-action__footer">
            <button (click)="cancleButton()" type="button"class="btn btn-cancel button" ng-click="deletePanelCancelled()"> Cancel</button>
            <button (click)="loginButton()" type="button"class="btn btn-delete button" ng-click="deletePanelConfirmed()"> Login
            </button>
          </div>
        <div>
      </div>
</div>